<p>
  <strong>Title:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Internal name:</strong>
  <%= @device.internal_name %>
</p>
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src= <%=@video_url %> type="video/mp4">
  </video